.statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto 100px auto;
    width: 250px; 
}

.title {
    width: 250px;
    margin: auto;
    padding: 10px 0;
    
    text-transform: uppercase;
    font-size: 18px;
    background-color: beige;
    text-align: center;
}

.statList{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 250px;
}

.item{
    width:100%;
    
}